body{margin:0;line-height:2;font-size:16px;}

header{position:sticky;top:0;color:#FFF;background:#333;box-shadow:0 8px 8px #999;}
main{max-width:1000px;margin:0 auto;}
footer{margin:0 1em;text-align:center;color:#333;border-top:1px solid #CCC;}

section{margin:2em 2em 8em;text-align:center;}
h1{margin:0;padding:0.5em 1em;font-size:2em;font-weight:bold;}
h2{max-width:300px;margin:4em auto 2em;text-align:center;font-size:1.5em;font-weight:300;letter-spacing:0.1em;border-bottom:1px solid #66F;}
h3{margin:3em auto 1em;font-size:1.25em;font-weight:bold;}

.testbox{max-width:500px;aspect-ratio:16/9;margin:1em auto;padding:1em;background:#CCC;}


header{height:120px;}
h2{margin-top:-120px;padding-top:120px;}
h3{margin-top:-120px;padding-top:120px;}
header #header_nav{display:flex; list-style:none; margin-top:-10px;}
header li{text-align:center; width:60%;}
header li:first-child{width:22%;}
header li:last-child{width:18%;}
header a{color:#FFF; text-decoration:none; height:30px;}


@media screen and ( max-width:640px ) {
	h1{font-size:1.5em;}
	h2{margin-top:2em;}
}
